# QtCreator specific
*.creator.user
*.fileList
*.user
*.pro.user
*.pro.user.*
.qmake.stash
.qtc_clangd
Makefile
Makefile.Debug
Makefile.Release
*.Debug
*.Release

# Build directory
build/
debug/
debug